<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>

<h3><%= @restaurant.address %></h3>
<h5><%= @restaurant.phone_number %></h5>

<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content %>
    (<%= "⭐️" * review.rating.to_i  %>)</li>
<% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<%= link_to "back", restaurants_path %>
